Flask==3.1.2
g4f==0.6.6
requests==2.32.5
aiohttp==3.9.5
typing-extensions==4.12.0
beautifulsoup4==4.12.3
lxml==5.3.0
websockets==12.0
pycryptodome==3.21.0
brotli==1.1.0
nest-asyncio==1.6.0
